<h2>Resend confirmation instructions</h2>
<% if flash.alert %>
 <div class="alert alert-danger"><%= flash.alert %></div>
<% end %>
<% if flash.notice %>
<div class="alert alert-info"><%= flash.notice %></div>
<% end %>
<%= form_for(resource, as: resource_name, url: user_confirmation_path, html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="form-group">
  <%= f.email_field :email, class: 'form-control',placeholder: "Email Address",required: true %>
</div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary btn-user btn-block' %>
  </div>
<% end %>
<div class="w-100 text-center">
<%= render "devise/shared/links" %>
</div>