<span class="mb-4 float-left w-100">
<%= render_breadcrumbs %>
</span>
<div class="card shadow">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h3 class="m-0 font-weight-bold text-primary"><%= @article.title %></h3>
    <div>
      <% if !current_user.nil? and current_user.can? :update, @article then %>
      <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-sm btn-primary' %>
    <% end %>
    	<%= link_to "Back to articles", articles_path, class: "btn btn-sm btn-secondary" %>
    </div>
  </div>
  <div class="card-body">
  	<div class="d-flex flex-row align-items-center justify-content-between">
  	<h6><u><i>About</i></u></h6>
  	<div><small class="w-100 text-right float-left"><%= @article.created_at.strftime('%d/%m/%Y %I:%M %p') %></small>
      <small class="w-100 text-right float-left"><%= @article.user.full_name %></small></div>
  	</div>
  	<p><i><%= @article.about %></i></p>
  	<hr>
  	<%= @article.content %>
  </div>
</div>