<li class="list-group-item">
  <div class="panel panel-default" data-conversation-id="<%= conversation.id %>">
    <div class="panel-heading d-flex flex-row align-items-center justify-content-between">
      <%= link_to conversation.opposed_user(user).full_name, '', class: 'toggle-window' %>
      <%= link_to "Mark as read", close_conversation_path(conversation), class: "btn btn-sm btn-primary float-right", remote: true, method: :post %>
    </div>
    <div class="panel-body" style="display: none;">
      <hr>
      <div class="messages-list">
        <ul>
          <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
        </ul>
      </div>
      <form class="new_message">
        <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
        <input name="user_id" type="hidden" value="<%= user.id %>">
        <textarea name="body" class="form-control" required="required"></textarea>
        <input type="submit" class="btn btn-success mt-2 mb-2 float-right" value="Send">
      </form>
    </div>
  </div>
</li>