<%= form_for(@question_set, remote: true, html: {class: :question_set_form, class: "form-horizontal", style: "display:inline;" }) do |f| %>
  <div class="modal-body">
  <ul class="errors"></ul>
<div class="row">
  <div class="form-group col-md-12">
    <%= f.label :title, class: "control-label" %>
	  <%= f.text_area :title, class: 'form-control' %>
	</div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Question Set", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn btn-secondary", data: {dismiss: "modal"} %>
  </div>
  </div>
<% end %>
