<%= form_for(@question_set, remote: true, html: {class: :question_set_form, class: "form-horizontal", style: "display:inline;" }) do |f| %>
  <div class="modal-body">
  <ul class="errors"></ul>
<div class="row">
  <div class="form-group col-md-12">
    <%= f.label :title, class: "control-label" %>
	  <%= f.text_field :title, class: 'form-control',required: true %>
	</div>
  <div class="form-group col-md-12">
      <%= f.label :topic, class: "control-label" %><br/>
      <%= f.collection_select(:topic_ids, Topic.where(deleted: 0).order(:name), :id, :name, {}, {multiple: true, class: "form-control select2", style: "width:100%;",required: true}) %>
    </div>
  </div>
      <div class="row">
        <div class="col-md-12 mb-2">
      <%= link_to_add_association 'Add Question', f, :questions, :class => 'add_fields-question btn btn-cyrenian', id: 'add_question_fields', class: 'btn btn-primary' %>
    </div>
      <div class="col-md-12 mb-3" id="questions-list">
        <h4>Questions</h4>
        <%= f.fields_for :questions do |question|%>
          <%= render "question_fields",:f=> question %>
        <% end %>
  </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save Question Set", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn btn-secondary", data: {dismiss: "modal"} %>
  </div>
  </div>
<% end %>
<script type="text/javascript">
  $(".select2").select2({
    theme: "bootstrap"
});
    $("#add_question_fields")
  .data("association-insertion-method", 'append')
  .data("association-insertion-node", '#questions-list');
</script>