<%= form_for(current_user, url: registration_path(current_user), remote: true, html: { method: :put, id: "change-password-form" }) do |f| %>
<%= f.hidden_field :change_password, value: true%>
  <ul class="password-errors"></ul>
<div class="form-group row">
    <div class="col-md-6 mb-2">
    <%= f.label :email %><br />
    <%= f.email_field :email, disabled: true, class: "form-control"%>
  </div>
  <div class="col-md-6 mb-2">
    <%= f.label :current_password %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", required: true %>
  </div>
  <div class="col-md-6">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
  </div>
  <div class="col-md-6">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
  </div>
</div>
  <div class="actions float-right">
    <%= f.submit "Change password", class: 'btn btn-primary' %>
  </div>
<% end %>