<h3>View Category - <%= @category.name %></h3>

<p id="notice"><%= notice %></p>

<div class="col-md-12">
	<div class="panel panel-inverse" data-sortable-id="ui-widget-1">
		<div class="panel-heading">
			<h4 class="panel-title">Main Details</h4>
		</div>
		<div class="panel-body">

						<p>
			  <strong>Name:</strong>
			  <%= @category.name %>
			</p>
			
						<%= link_to 'Edit', edit_category_path(@category) %> |
			<%= link_to 'Back', categories_path %>
		
		</div>
	</div>
</div>