            <!-- Heading -->
            <div class="sidebar-heading">
                Articles
            </div>
            <li class="nav-item <%= (controller_name == 'articles' and action_name == "review_articles") ? 'active' : ''%>">
                <a class="nav-link" href="<%= review_articles_path %>">
                    <i class="fas fa-swatchbook"></i>
                    <span>Review Articles</span></a>
            </li>
            <li class="nav-item <%= (controller_name == 'articles' and action_name == "all_articles") ? 'active' : ''%>">
                <a class="nav-link" href="<%= all_articles_path %>">
                    <i class="fas fa-swatchbook"></i>
                    <span>All Articles</span></a>
            </li>
            <li class="nav-item <%= (controller_name == 'articles' and action_name == "index") ? 'active' : ''%>">
                <a class="nav-link" href="<%= articles_path %>">
                    <i class="fas fa-newspaper"></i>
                    <span>Articles</span></a>
            </li>