            <!-- Heading -->
            <div class="sidebar-heading mt-2">
                Articles
            </div>
            <li class="nav-item <%= (controller_name == 'articles' and action_name == "index") ? 'active' : ''%>">
                <a class="nav-link" href="<%= articles_path %>">
                    <i class="fas fa-newspaper"></i>
                    <span>Articles</span></a>
            </li>
            <% Category.all.each do |category|%>
            <li class="nav-item <%= (controller_name == 'articles' and action_name == "index" and params[:category] == category.name) ? 'active' : ''%>">
                <a class="nav-link" href="<%= articles_path(:category => category.name) %>">
                    <i class="fas fa-bookmark"></i>
                    <span><%= category.name %></span></a>
            </li>
            <% end %>