        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-tree"></i>
                </div>
                <div class="sidebar-brand-text mx-3">LangoTree</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <% if current_user.has_role? :student or current_user.has_role? :editor %>
            <!-- Nav Item - Dashboard -->
            <li class="nav-item <%= controller_name == 'speak_now' ? 'active' : ''%>">
                <a class="nav-link" href="<%= speak_now_path %>">
                    <i class="fas fa-microphone-alt"></i>
                    <span>Speak Now</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Overview</span></a>
            </li>
            <li class="nav-item <%= controller_name == 'feedbacks' ? 'active' : ''%>">
                <a class="nav-link" href="<%= feedbacks_path %>">
                    <i class="fas fa-comment-dots"></i>
                    <span>Feedback</span></a>
            </li>
            <li class="nav-item <%= controller_name == 'user_guides' ? 'active' : ''%>">
                <a class="nav-link" href="<%= user_guides_path%>">
                    <i class="fas fa-info-circle"></i>
                    <span>Guide</span></a>
            </li>
            <li class="nav-item <%= controller_name == 'user_settings' ? 'active' : ''%>">
                <a class="nav-link" href="<%= user_settings_path %>">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Settings</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <% end %>
            <% if current_user.has_role? :admin %>
            <!-- Heading -->
            <div class="sidebar-heading mt-2">
                Admin
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item <%= controller_name == 'dashboard' ? 'active' : ''%>">
                <a class="nav-link" href="<%= dashboard_path %>">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= 'collapsed' if !['countries','languages','topics','question_sets','pages'].include? controller_name %>" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-layer-group"></i>
                    <span>Assets</span>
                </a>
                <div id="collapseTwo" class="collapse <%= 'show' if ['countries','languages','topics','question_sets','pages','knowledge_books','categories'].include? controller_name %>" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Basic Assets:</h6>
                        <a class="collapse-item <%= 'active' if controller_name == 'countries' %>" href="<%= countries_path%>">Countries</a>
                        <a class="collapse-item <%= 'active' if controller_name == 'languages' %>" href="<%= languages_path%>">Languages</a>
                        <a class="collapse-item <%= 'active' if controller_name == 'topics' %>" href="<%= topics_path%>">Topics</a>
                        <a class="collapse-item <%= 'active' if controller_name == 'categories' %>" href="<%= categories_path%>">Categories</a>
                        <a class="collapse-item <%= 'active' if controller_name == 'question_sets' %>" href="<%= question_sets_path%>">Question Sets</a>
                        <h6 class="collapse-header">Information Assets:</h6>
                        <a class="collapse-item <%= 'active' if controller_name == 'pages' %>" href="<%= pages_path%>">Pages</a>
                        <a class="collapse-item <%= 'active' if controller_name == 'knowledge_books' %>" href="<%= knowledge_books_path%>">Knowledge Books</a>
                    </div>
                </div>
            </li>
            <li class="nav-item <%= 'active' if ['users_list','users'].include? controller_name%>">
                <a class="nav-link" href="<%= users_list_path %>">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Users</span></a>
            </li>
            <li class="nav-item <%= controller_name == 'user_settings' ? 'active' : ''%>">
                <a class="nav-link" href="<%= user_settings_path %>">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Settings</span></a>
            </li>

            <li class="nav-item <%= controller_name == 'suggestion_panel' ? 'active' : ''%>">
                <a class="nav-link" href="<%= suggestion_panel_path %>">
                    <i class="fas fa-comments"></i>
                    <span>Suggestion Panel</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <% end %>

            <% if current_user.has_role? :student or current_user.has_role? :editor or current_user.has_role? :admin  %>
            <!-- Heading -->
            <div class="sidebar-heading">
                Articles
            </div>
            <% if current_user.has_role? :admin %>
            <li class="nav-item <%= (controller_name == 'articles' and action_name == "review_articles") ? 'active' : ''%>">
                <a class="nav-link" href="<%= review_articles_path %>">
                    <i class="fas fa-swatchbook"></i>
                    <span>Review Articles</span></a>
            </li>
            <% elsif current_user.has_role? :editor %>
            <li class="nav-item <%= (controller_name == 'articles' and action_name == "my_articles") ? 'active' : ''%>">
                <a class="nav-link" href="<%= my_articles_path %>">
                    <i class="fas fa-swatchbook"></i>
                    <span>My Articles</span></a>
            </li>
            <% end %>
            <li class="nav-item <%= (controller_name == 'articles' and action_name == "index") ? 'active' : ''%>">
                <a class="nav-link" href="<%= articles_path %>">
                    <i class="fas fa-newspaper"></i>
                    <span>Articles</span></a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">
            <% end %>
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->